<!-- product-share-links.liquid -->

<div class="product-share-links">
    <a href="{{ section.settings.red1_share_link }}=https://sebaspotes.myshopify.com{{ product.url }}" target="_blank" rel="noopener noreferrer">
    <img src="{{ section.settings.red1_share_icon | img_url: 'master' }}" alt="Share 1">
    </a>
    <a href="{{ section.settings.red2_share_link }}=https://sebaspotes.myshopify.com/{{ product.url }}" target="_blank" rel="noopener noreferrer">
    <img src="{{ section.settings.red2_share_icon | img_url: 'master' }}" alt="Share 2">
    </a>
    <a href="{{ section.settings.red3_share_link }}=https://sebaspotes.myshopify.com/{{ product.url }}" target="_blank" rel="noopener noreferrer">
    <img src="{{ section.settings.red3_share_icon | img_url: 'master' }}" alt="Share 3">
    </a>
</div>


