{{ 'collection-grid.css' | asset_url | stylesheet_tag }}

<div class="grid-container">
    {% for product in collections['black-friday'].products %}
        <div class="producto-grid">
            <a href="{{ product.url }}">
                <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.title }}">
            </a>
            <h3 class="full-unstyled-link">{{ product.title | link_to: product.url }}</h3>
            <div class="price__container"><span>{{ product.price | money }}</span></div>
            
            {% if product.variants.size > 0 %}
                <div class="product-option">
                {% for option in product.options_with_values %}
                    <fieldset>
                        <legend>{{ option.name }}</legend>
                        {% for value in option.values %}
                            <div>
                                <input
                                {% if option.select_value == value %}checked{% endif %}
                                type="radio"
                                name="{{ option.name }}"
                                value = "{{ value }}"
                                id="{{ option.name | handlize }}-{{ value | handlize }}"
                                >
                                <label for="{{ option.name | handlize }}-{{ value | handlize }}">
                                    {{ value }}
                                </label>
                            </div>
                        {% endfor %}
                    </fieldset>
                {% endfor %}
                </div>
            {% endif %}



        </div>
    {% endfor %}
</div>

{{ paginate | default_pagination }}
